*CS 150 Programming Assignment 2
Connor Pawlowski Fall 2025*

In [2]:
name= 'Connor'
age= '22'
height= '6 foot 3 inches'
color= 'blood orange' 

print(f'My name is {name}, I am {age} years old, I am {height} tall, and my favorite color is {color}.')

My name is Connor, I am 22 years old, I am 6 foot 3 inches tall, and my favorite color is blood orange.

In [4]:
miles_distance = 100
kilometers = miles_distance*1.60934

print(f'The distance is {miles_distance} miles, which is the equivalent of {kilometers} kilometers.')

The distance is 100 miles, which is the equivalent of 160.934 kilometers.

In [5]:
run1=50
run2=75

B1 = (run1+run2)
B2 = (run2-run1)
B3 = (run2*2)
B4 = (B1/2)

print(f'B1={B1}, B2={B2}, B3={B3}, B4={B4}.')

B1=125, B2=25, B3=150, B4=62.5.

In [6]:
quote='Four score and seven years ago'
print('Length of quote', len(quote))
print('Uppercase', quote.upper())
print('Lowercase', quote.lower())
print('Stripped', quote.strip())
print('Split', quote.split())

Length of quote 30
Uppercase FOUR SCORE AND SEVEN YEARS AGO
Lowercase four score and seven years ago
Stripped Four score and seven years ago
Split ['Four', 'score', 'and', 'seven', 'years', 'ago']

In [11]:
a=float(input('Enter random length for side a'))
b=float(input('Enter random lengthfor side b'))

hypotenuse=(a**2 + b**2)**(0.5)

print(f'The hypotenuse of your triangle is {hypotenuse:.2f} units.')

Enter random length for side a 10
Enter random lengthfor side b 20

The hypotenuse of your triangle is 22.36 units.